/* Нормализация блочной модели */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Делаю изображения адаптивными */
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

:where(a[class]) {
  text-decoration: none;
  color: inherit;
}

/* Делаю кастомное выделение текста и убираю выделение у изображений */
::selection {
  background: var(--color-accent-semidark, inherit);
  color: var(--color-light, inherit);
  text-shadow: none;
}

img::selection,
svg::selection {
  background: transparent;
}

body {
  margin: 0;
  font-family: var(--font-basic, inherit);
  font-weight: 400;

  @include fluid-text-mob(14, 16);
  line-height: 1.29;
  color: var(--color-dark-400, inherit);
  background-color: var(--color-light, inherit);
}
