$mobile-l: 460px;

$tablet: 768px;

$desktop: 1200px;

@mixin mobile {
  @media (width < $tablet) {
    @content;
  }
}

@mixin mobile-l {
  @media (width > $mobile-l) and (width < $tablet) {
    @content;
  }
}

@mixin tablet {
  @media (width >= $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (width >= $desktop) {
    @content;
  }
}
