.additional-products {
  padding-block: 10px 20px;
  background-image: linear-gradient(var(--color-accent, inherit) 100%, transparent);
  background-repeat: no-repeat;
  background-position: left 0 top 20px;
  background-size: 100% 2px;
}

.additional-products__container {
  display: grid;
  gap: 35px;
}

.additional-products__title {
  width: max-content;
  font-size: 24px;
  box-shadow: -40px 0 0 0 var(--color-light,), 40px 0 0 0 var(--color-light,);
  background-color: var(--color-light,);
}

.additional-products__list {
  //
}
