.additional-products {
  padding-block: 10px 20px;
  background-image: linear-gradient(var(--color-accent, inherit) 100%, transparent);
  background-repeat: no-repeat;
  background-position: 0 20px;
  background-size: 100% 2px;

  @include tablet {
    padding-block: 0 80px;
    background-position: 0 14px;
  }

  @include desktop {
    background-position: 0 18px;
  }
}

.additional-products__container {
  display: grid;
  gap: 35px;

  @include tablet {
    @include fluid-gap-tab(70, 80);
  }

  @include desktop {
    grid-template-columns: 1fr 245px;
  }
}

.additional-products__title {
  width: max-content;
  box-shadow: -40px 0 0 0 var(--color-light,), 40px 0 0 0 var(--color-light,);
  background-color: var(--color-light,);

  @include mobile {
    @include fluid-text-mob(24, 32);
  }

  @include tablet {
    @include fluid-text-tab(32, 40);
    margin-inline-start: 40px;
    margin-block-end: 10px;
  }

  @include desktop {
    margin-inline-start: 0;
    margin-block-end: 0;
  }
}

.additional-products__list {
  grid-row: 2;
  grid-column: 1 / 2;
}
