.banner {
  background-color: var(--color-accent, inherit);
  padding: 58px;
}

.banner__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--color-light, inherit);

  &::before {
    content: "";
    display: block;
    width: 58px;
    height: 64px;
    background-image: url("../../icons/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
}
