.contacts {
  @include desktop {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.contacts__container {
  background-color: var(--color-light, inherit);

  @include desktop {
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: transparent;
    z-index: 4;
    width: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
  }

  &--change-bg {
    background-color: var(--color-secondary, inherit);

    @include desktop {
      background-color: transparent;
    }
  }
}

.contacts__content {
  display: grid;
  grid-template-columns: 1fr minmax(50%, 1fr);
  gap: 16px;
  padding-block: 26px;

  @include tablet {
    grid-template-columns: min-content 1fr;
    padding-block: 60px;
    padding-inline: 40px;
    gap: 87px;
  }

  @include desktop {
    pointer-events: visible;
    background-color: var(--color-light, inherit);
    padding-inline: 80px;
    margin-block-start: -10px;
    max-width: 565px;
    gap: 96px;
  }
}

.contacts__title {
  @include fluid-text-mob(16, 20);
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--color-dark-100, inherit);

  @include tablet {
    line-height: 1.3;
  }
}

.contacts__address {
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  line-height: 1.42;
  font-style: normal;

  @include tablet {
    gap: 20px;
    align-items: flex-end;
    text-align: right;
    line-height: 1.25;
    max-width: 200px;
    margin-left: auto;
  }

  @include desktop {
    text-align: left;
    align-items: flex-start;
  }
}

.contacts__map {
  min-height: 362px;

  @include tablet {
    min-height: 400px;
  }

  @include desktop {
    grid-column: 1 / -1;
    grid-row: 1;
  }
}
