.developer-logo {
  transition: opacity 0.3s;
}


.developer-logo__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 23px;
  font-size: 16px;
  line-height: 1.25;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    background-color: var(--color-dark-600, inherit);
    mask-image: url("../../icons/logo-htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-color 0.3s;
  }
}

.developer-logo:hover .developer-logo__title::after,
.developer-logo:focus-visible .developer-logo__title::after {
  background-color: var(--color-accent, inherit);
}

.developer-logo:active {
  opacity: 0.3;
}
