.footer {
  background-color: var(--color-secondary, inherit);
}

.footer__links {
  padding-block: 40px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__logo {
  //
}

.footer__social {
  align-self: stretch;
}

.footer__list {
  padding-block: 20px;
  box-shadow: 0 -1px 0 0 var(--color-secondary-semidark, inherit), 0 1px 0 0 var(--color-secondary-semidark, inherit);
}

.footer__developer-logo {
  align-self: stretch;
}
