.header {
  padding-block: 13px 14px;
  background-color: var(--color-light, inherit);

  @include desktop {
    padding-block: 46px 0;
    background-color: transparent;
  }

  &--inner {
    box-shadow: 0 1px 0 0 var(--color-secondary-semidark, inherit);

    @include tablet {
      box-shadow: none;
    }
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 13px;

  @include mobile {
    &:has(.navigation__list--nojs) {
      flex-wrap: wrap;
    }
  }
}

.header__logo {
  @include mobile {
    flex-grow: 1;

    .header__container:has(.navigation__list--nojs) & {
      flex-grow: 0;
      margin: auto;
      padding-inline-end: 14px;
    }
  }

  @include desktop {
    margin-right: auto;
    align-self: flex-start;
    padding-block: 9px;
  }
}

.header__navigation {
  &:has(.navigation__list--nojs) {
    display: contents;
  }

  @include mobile {
    &:has(.navigation__list--nojs) .navigation__toggle {
      display: none;
    }
  }

  @include desktop {
    max-width: 50%;
  }
}
