.hero {
  position: relative;
  color: var(--color-light, inherit);

  &::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 62%;
    background-color: var(--color-accent,);
    z-index: -2;
    content: "";
  }
}

.hero__container {
  padding-block: 27px 10px;
  text-align: center;
}

.hero__title {
  margin-bottom: 25px;
  font-size: 36px;
  color: inherit;
}

.hero__subtitle {
  margin-bottom: 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: inherit;
}

.hero__image {
  // aspect-ratio: 100 / 103;
}

.hero__button {
  //
}
