.hero {
  color: var(--color-light, inherit);

  @include desktop {
    min-height: 571px;
    margin-bottom: 82px;
  }
}

.hero__container {
  padding-bottom: 20px;
  display: grid;
  text-align: center;

  @include tablet {
    padding-block: 40px 0;

    .hero__title,
    .hero__subtitle,
    .hero__button {
      margin-inline-start: 90px;
    }
  }

  @include desktop {
    padding-block: 101px 52px;
    grid-template-columns: 1fr 1fr;

    .hero__title,
    .hero__subtitle,
    .hero__button {
      grid-column: 1;
      margin-inline-start: 82px;
    }
  }

  &::before {
    background-color: var(--color-complementary-medium, #666666);
    z-index: -2;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85) 100%, #68b738),
      image-set(
        "../images/backgrounds/hero-bg-small@1x.jpg" 1x,
        "../images/backgrounds/hero-bg-small@2x.jpg" 2x
      );
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: "";

    @include mobile {
      --hero-margin-x: -20px;
      grid-column: 1;
      grid-row: 1 / 4;
      margin-inline: var(--hero-margin-x, inherit);
      width: calc(100% - var(--hero-margin-x, inherit) * 2);

      @include fluid-height-mob(302, 504);
    }

    @include mobile-l {
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85) 100%, #68b738),
        image-set(
          "../images/backgrounds/hero-bg-medium@1x.jpg" 1x,
          "../images/backgrounds/hero-bg-medium@2x.jpg" 2x
        );
    }

    @include tablet {
      display: none;
    }

    @include desktop {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85) 100%, #68b738),
        image-set(
          "../images/backgrounds/hero-bg-large@1x.jpg" 1x,
          "../images/backgrounds/hero-bg-large@2x.jpg" 2x
        );
      background-position: 0 50%;
      width: 50%;
      height: 694px;
    }
  }
}

.hero__title {
  margin-bottom: 25px;

  @include fluid-text-mob(36, 60);
  color: inherit;

  @include mobile {
    grid-column: 1;
    grid-row: 1;
    padding-top: 27px;
    align-self: self-end;
  }

  @include tablet {
    margin-bottom: 40px;
    color: var(--color-dark, #000000);
    text-align: start;
  }
}

.hero__subtitle {
  margin-bottom: 30px;

  @include fluid-text-mob(14, 20);
  text-transform: uppercase;
  color: inherit;

  @include mobile {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
  }

  @include tablet {
    margin-bottom: 50px;
    color: var(--color-dark, #000000);
    text-align: start;
  }
}

.hero__container picture {
  display: contents;
}

.hero__image {
  display: block;
  margin-inline: auto;

  @include mobile {
    @include fluid-width-mob(250, 400);
    grid-row: 3 / 5;
    grid-column: 1;
  }

  @include tablet {
    margin-block-start: -83px;
    order: 4;
  }

  @include desktop {
    grid-column: 2 / -1;
    grid-row: 1 / 7;
    margin-block-start: -81px;
    margin-inline: -163px auto;
    z-index: -1;
  }
}

.hero__button {
  @include fluid-text-mob (16, 20);

  @include mobile {
    justify-self: center;

    @include fluid-height-mob(40, 60);
    width: 100%;
    max-width: 375px;
  }

  @include tablet {
    width: max-content;
    padding-block: 14px;
    line-height: 1.3;
    z-index: 1;
  }
}
