.live-example {
  background-color: var(--color-secondary-medium, inherit);
  padding-block: 25px 40px;
}

.live-example__title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 1.1;
  color: var(--color-dark, inherit);
}

.live-example__description {
  margin-bottom: 20px;
}

.live-example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 32px;
  margin-bottom: 20px;
}


.live-example__item {
  &--value {
    text-align: center;
    display: grid;
  }

  &--price {
    display: flex;
    justify-content: center;
    gap: 3px;
    grid-column: 1 / -1;
    grid-row: 2;
  }
}

.live-example__term {
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  color: var(--color-dark, inherit);
}

.live-example__term.title {
  padding-block: 15px 17px;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--color-dark, inherit);
  box-shadow: 0 0 0 1px var(--color-secondary-dark, inherit);
  border-radius: 3px;
}

.live-example__definition {
  font-size: 12px;
  line-height: 1;
  width: 70%;
  padding-block: 4px;
  padding-inline: 14px;
  margin-top: -11px;
  justify-self: center;
  background-color: var(--color-secondary-medium, inherit);
}

.live-example__before-after {
  //
}
