.map {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center center;
  background-color: var(--color-secondary, inherit);
}

.map__frame {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  grid-column: 1 / -1;
  grid-row: 1;
  z-index: 2;
}

.map__fallback {
  width: 100%;
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
}

.map__image {
  //
}

/* Скрыть запасное изображение, если iframe загружен */
.map__frame:not(:empty) ~ .map__fallback {
  display: none;
}
