.program {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 22px 20px;
  padding-block: 24px 18px;
  padding-inline: 20px;
  background-color: var(--color-secondary-light, inherit);

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include tablet {
    grid-template-columns: 1fr auto;
    padding-block: 77px 53px;
    padding-inline: 52px 63px;
    gap: 24px 53px;

    &::before {
      grid-column: 2 / -1;
      grid-row: 1 / 4;
      align-self: center;
      margin-bottom: 10px;
    }
  }

  @include desktop {
    grid-template-columns: auto 1fr;
    gap: 23px 62px;
    padding-block: 47px 55px;
    padding-inline: 52px 61px;

    &::before {
      grid-column: auto;
      grid-row: auto;
      align-self: auto;
      margin-bottom: auto;
    }
  }

  &--icon-lazy-cat::before {
    width: 50px;
    height: 53px;
    margin-top: -3px;
    background-image: url("../../icons/lazy-cat.svg");

    @include tablet {
      width: 200px;
      height: 212px;
      margin-top: -12px;
    }

    @include desktop {
      width: 100px;
      height: 106px;
      margin-top: -6px;
    }
  }

  &--icon-active-cat::before {
    width: 67px;
    height: 50px;
    margin-inline: -9px -8px;
    background-image: url("../../icons/active-cat.svg");

    @include tablet {
      width: 268px;
      height: 200px;
      margin-inline: -36px -32px;
    }

    @include desktop {
      width: 134px;
      height: 100px;
      margin-inline: -18px -16px;
    }
  }
}

.program__title {
  grid-column: 2 / -1;
  grid-row: 1;
  align-self: center;

  @include fluid-text-mob(24, 36);
  line-height: 1.54;
  text-transform: uppercase;
  color: var(--color-dark, inherit);

  @include tablet {
    grid-column: 1;
    line-height: 1;
  }

  @include desktop {
    grid-column: 2 / -1;
  }
}

.program__description {
  padding-bottom: 23px;
  grid-column: 1 / -1;
  box-shadow: 0 1px 0 0 var(--color-secondary-semidark, inherit);
  margin-block-end: 16px;

  @include tablet {
    padding-block-end: 8px;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: none;
    grid-column: 1;
  }

  @include desktop {
    padding-block: 16px 0;
    margin-block-end: 0;
    grid-column: 1 / -1;
  }
}

.program__link {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  width: max-content;
  column-gap: 17px;
  padding-block: 4px;
  margin-block-start: -22px;
  font-family: var(--font-title,);

  @include fluid-text-mob(16, 20);
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-dark, inherit);
  transition: opacity 0.3s;

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 12px;
    background-image: url("../../icons/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: -8px 50%;
    background-size: contain;
    transition: background-position 0.3s;
  }

  &:hover::after,
  &:focus-visible::after {
    background-position: 0 50%;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    grid-column: 1;
    column-gap: 25px;
    padding-block: 9px;
    margin-block-start: 0;
  }

  @include desktop {
    grid-column: 1 / -1;
  }
}
